<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styles/styles.css}">
    </head>
    <body class="CuerpInd">
        <div class="TitInd">
            <h1>TECHNOTECH</h1>
        </div>
        <br>
        <h2 class="IngInfo container-fluid col-lg-4 col-sm-9 pl-0">Ingrese su información</h2>
        <br>
        <form th:action="@{/}" method="post" class="container-fluid col-lg-3 col-sm-5 pl-0">
            <div class="input-group">
                <span class="input-group-text">Usuario</span>
                <input type="text" class="form-control" name="username">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text">Contraseña</span>
                <input type="text" class="form-control" name="contraseniaUsr">
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </form>
        <br><br>
        <div class="container-fluid col-lg-4 col-sm-9 pl-0">
            <a class="RegInd" th:href="@{/registro}">¿No tienes una cuenta? Registrate!</a>
        </div>
        <footer>
            <br>
            <div class="footer container-fluid col-lg-9 pl-0">
                <p>Mas información: info@techno.com</p>
                <p>Nuestras redes: Facebook: TechnoTech&nbsp;&nbsp;Instagram: @Techno_</p>
            </div>
        </footer>
    </body>
</html>
