<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

        <title>Registrarse</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styles/styles.css}">
    </head>
    <body class="CuerpInd">
        <div class="TitInd">
            <h1>TECHNOTECH</h1>
        </div>
        <br>
        <section>
            <div class="container-fluid col-lg-8 col-sm-9">
                <form class="formulario" action="" method="post" th:object="${usuario}">
                    <fieldset>
                        <div class="estilo-titulo-formulario">
                            <h2 class="IngInfo container-fluid col-lg-4 pl-0">Ingrese su información</h2>
                        </div>
                        <div class="container-fluid col-lg-7">
                            <p style="padding-left: 10px; color: red;">Asegurese de que su información sea correcta!</p>
                            <div class="form-group">
                                <label for="correElec" class="form-label mt-4">Correo electrónico</label>
                                <input type="email" class="form-control" id="correElecIngr" name="correo" aria-describedby="emailHelp" placeholder="ejemplo@ejm.com" th:field="*{emailUsr}">
                            </div>
                            <div class="form-group">
                                <label for="nombresIngr" class="form-label mt-4">Nombres</label>
                                <input type="text" class="form-control" name="nombre" id="nombresIngr" th:field="*{nombreUsr}">
                            </div>
                            <div class="form-group">
                                <label for="apellidosIngr" class="form-label mt-4">Apellidos</label>
                                <input type="text" class="form-control" name="apellido" id="apellidosIngr" th:field="*{apellidoUsr}">
                            </div>
                            <div class="form-group">
                                <label for="fechNacIngr" class="form-label mt-4">Fecha de nacimiento</label>
                                <input type="date" class="form-control" name="fechNac" id="fechNacIngr" th:field="*{fecNacUsr}">
                            </div>
                            <div class="form-group">
                                <label for="usuarioIngr" class="form-label mt-4">Usuario</label>
                                <input type="text" class="form-control" name="usuario" id="usuarioIngr" th:field="*{userUsr}">
                            </div>
                            <div class="form-group">
                                <label for="passIngr" class="form-label mt-4">Contraseña</label>
                                <input type="text" class="form-control" name="password" id="passIngr" th:field="*{contraseniaUsr}">
                            </div>
                            <div class="form-group">
                                <label for="passConfIngr" class="form-label mt-4">Confirmar Contraseña</label>
                                <input type="text" class="form-control" name="passConf" id="passConfIngr">
                            </div>
                            <br>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary" id="btn-enviar">Enviar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <br>
            <div class="container-fluid col-lg-5 col-sm-10 pl-0">
                <a class="RegInd" href="/">¡Tienes una cuenta? Inicia sesión</a>
            </div>
            <br>
        </section>
    </body>
</html>
